body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: antiquewhite;
    display: flex;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: 100vw;
    background-position: center;
}

.header>h2{
    font-size: 3rem;
}

.card{
    background-color: #00000077;
    height: 250px;
    width: 250px;
    border-radius: 10%;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;    
}

.rmv-btn{
    background-color: rgba(30, 143, 255, 0); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.card-end{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
      

.rmv-btn:hover {
    color: red;
}


.container {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}

#library-display{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    justify-items: start;
    align-items: start;
}


.input-style>input{
    width: 245px;
    height: 3vh;
    margin-bottom: 3vh;
    margin-top: 0.2vh;
    border-radius: 5px;
}

#read,
#unread{
    width: auto;
    transform: scale(1.5);
    margin-left: 15px;
}

.read{
    display: flex;
}

.form-box{
    margin-left: 10%;
}

#submit{
    transform: scale(1.2);
}